@import "../../palette.scss";
@import "../../grid.scss";
.Header {
  background-color: $color-header;
  color: white;
  padding: 1px;
}
.Header .container {
  width: 100%;
  max-width: $content-width;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}
.Header .container img {
  margin-right: 15px;
}
