$color-pop-text: #3b5249;
$color-header: #519872;
$color-app-background: #afd4c0;
$color-app-content: #e5f4ec;
$color-action-button: #8aea92;
$color-warning-button: #fec2c2;
$color-card-content: #dedede;
